

:root {
    /* my document style 1 */
    --as-font-01: sans-serif;
    --as-width: 800px;
    --as-height: 100px;
    --as-t-head: #fce7f9;
    --as-t-fr: rgba(234, 234, 24, 0.68);
    --as-t-sec : rgba(67, 236, 236, 0.54);
    --as-t-thr : #fac4f8;

}
*{ /* all elements */
    font-family: var(--as-font-01);
}
html {
    width: var(--as-width);

}
.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: bisque;
}
#rate{
    margin: auto;
    width: 80%;

    padding: 10px;
}
#swapbutton{
    background-color: cadetblue;
}
#calculate{
    background-color: cadetblue;
}
#neu-zeile{
    background-color: cadetblue;
    text-align: center;
}
#footer{
    text-align: center;
  color: #070707;
}

#as-table{

    margin: auto;
    width: 40%;
    padding: 10px;
}
.first-line{
    background-color: #a85b5b;
    height: 1.5em;
}

.first-10{
    background-color: var(--as-t-fr);
}
.farbe2zeile {
    background-color: #2f95a2;
}
.farbe20zeile{
    background-color: #2f95a2;
}
.farbe200zeile{
    background-color: #2f95a2;
}

.first-100{
    background-color: var(--as-t-sec);

}
.first-1000{
    background-color: var(--as-t-thr);

}

tr:hover  {
    background: #d3c0f8;
}
td:hover {
    background-color: #7179cc;
}
